<!doctype html>

<html>
<head>
	<title>Re:Time</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
    </head>

    <body>
      <div class="container">
        <header>
          <nav class="navbar navbar-default">
            <button class="hamburger">&#9776;</button>
            <button class="cross">&#735;</button>
            <h2 class="center-text">Hi, username!</h2>
            <a href="profile" class="user">
              <img src="img/profile_icon.png" id="user" alt="Username's Profile" width="50px" height="50px" >
            </a>
          </nav>
        </header>

        <div class="menu">
         <ul>
          <a href="home"><li>HOME</li></a>
          <a href="profile"><li>PROFILE</li></a>
          <a href="settings"><li>SETTINGS</li></a>
          <a href="/"><li>LOG OUT</li></a>
        </ul>
      </div> 
      

      <h1 class="center-text">Re:Time</h1>
      <h4 class="center-text">Create New Task</h4>
      <div class="container">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <form id="main_create_form" action = "/submit_new_task" method="get">
            <div class="form-group">
              <label for="taskname">Task Name: </label>
              <input type="text" class="form-control" id="taskname" placeholder="Your task here">
            </div>

            <div class="form-group">
              <label for="calendar">Due Date: </label>
              <input type="text" class="form-control" id="calendar" placeholder="11/16/1995">
            </div>

            <div class="time_due_field form-group">
              <label for="timedue">Time Due: </label>
              <input type="time" class="form-control" id="timedue">
            </div>

            <div class="form-group">
              <label for="select">Number of Subtasks:</label><br>
              <select id="number_tasks_select" class="custom-select">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>

            <div class="form-group" id="sub_tasks">
            </div>

            <input type="submit" value="create" class="btn btn-secondary"/>
            <button type="button" class="btn btn-secondary">Reset</button>
            <a href="home">Cancel </a>
          </form>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/introHCI.js"></script>
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>   
    $(function() {
      $( "#calendar" ).datepicker();   

      display_subtasks = function () {
       console.log("selected value has value: " + $("#number_tasks_select").val());

       $('#sub_tasks').html("");
       for (i = 0; i < $("#number_tasks_select").val(); i += 1)
         $('#sub_tasks').append('<input type="text" class="form-control" id="taskname" placeholder="Your subtask here">');
     }

     $("#number_tasks_select").on("change", display_subtasks);
     display_subtasks();
   }); 
    </script>
  </body>
  </html>
