
<!doctype html>

<html>
<head>
	<title>Re:Time</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>

<body>
	<div class="container">

		<header>
			<nav class="navbar navbar-default">
				<button class="hamburger">&#9776;</button>
				<button class="cross">&#735;</button>
				<h2 class="center-text">Hi, username!</h2>
				<a href="profile" class="user">
					<img src="img/profile_icon.png" id="user" alt="Username's Profile" width="35px" height="35px" >
				</a>
			</nav>
		</header>

		<div class="menu">
			<ul>
				<a href="home"><li>HOME</li></a>
				<a href="profile"><li>PROFILE</li></a>
				<a href="settings"><li>SETTINGS</li></a>
				<a href="/"><li>LOG OUT</li></a>
			</ul>
		</div> 
		<div class="container homescreen">
			<h1 class="center-text">Re:Time</h1>
			<div>
				{{#with users.[0]}}
				{{#each assignments}}
				<div class="row task_info" data-duedate={{due_date}}>
					<div class="col-sm-3 col-sm-offset-4" style="font-size: 1.5em;">
						<!-- Need to fix task links -->
						<!-- How do we make a task page that calls relevant data without hardcoding those pages? -->
						<a href="task">{{task}}</a>
					</div>
					<div class="col-sm-3 col-sm-offset-1">Due in <span class="countdown_days"></span> days</div>
				</div>
				<!-- Suggestion: Instead of listing the assignments on the homepage, just show how many subtasks needs to be finished -->
				<div class="row">
					<ul class="col-sm-4 col-sm-offset-4">
						{{#each subtasks}}
						<li style="margin-left: 20px;">{{smalltask}}</li>
						{{/each}}
					</ul>
				</div>
				{{/each}}
				{{/with}}
			</div>

			<div id="new">
				<center>
					<a href="createNewTask"><img src="img/add_icon.png" width="50" height="50"></a>
					<p class="center-text">Add a task</p>
				</center>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/introHCI.js"></script>
		<script src="js/main.js"></script>
		
		<script>
		$(function() {
			setInterval(function() {
				$('.task_info').each(function (i, obj) {
					task_date = $(this).data('duedate');

					date = Date.parse(task_date);
					today = new Date();
					diff = date - today;
					days = parseInt(diff/(24*3600*1000));	
					
					$(this).find('.countdown_days').text(days);
				})
			}, 1000);
		});
		</script>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-87468216-1', 'auto');
		ga('send', 'pageview');

		</script>
</body>
</html>
