<!doctype html>

<html>
<head>
	<title>Re:Time</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">   
	<link href="css/main.css" rel="stylesheet">  
</head>

<body>
	<div class="container center-text homescreen">

		<header>
			<h1><center>Re:Time</center></h1>
			<button class="hamburger">&#9776;</button>
			<button class="cross">&#735;</button>
			<a href="profile.html" class="user">
				<img src="img/profile_icon.png" id="user" alt="Username's Profile" width="35px" height="35px" >
			</a>
		</header>

		<div class="menu">
			<ul>
				<a href="home"><li>HOME</li></a>
				<a href="profile"><li>PROFILE</li></a>
				<a href="settings"><li>SETTINGS</li></a>
				<a href="/"><li>LOG OUT</li></a>
			</ul>
		</div> 

		<div class="macro">
			{{#with users.[0]}}
				{{#each assignments}}
			<h2><center>{{task}}</center></h2>
			
<!-- 			<div>
				<center><img src="img/loader.gif" alt="progress bar" width="250px" height="200px"></center>
			</div> -->
			<div class="set-size charts-container">
				<div id="percentage_pie" class="pie-wrapper style-2">
					<span class="label" style="color: black"><span id="percentage_value">75</span><span class="smaller">%</span></span>
					<div class="pie">
						<div class="left-side half-circle"></div>
						<div class="right-side half-circle"></div>
					</div>
					<div class="shadow"></div>
				</div>
			</div>
			<!-- how to update wedpags with new data -->
			<!-- how to use one task page to rep assignments when called --> 
			<div class="micro">
<!-- 				<h3><center>Unfinished</center></h3>
				<ol id="unfinished">
					<li>Subtask</li>
					<li>Subtask</li>
					<li>Subtask</li>
					<li>Subtask</li>
					<li>Subtask</li>
					<li>Subtask</li>
				</ol>
				<br>
				<h3><center>Finished<center></h3>
				<ol id="finished">
					<li>Subtask</li>
					<li>Subtask</li>
					<li>Subtask</li>
				</ol> -->
				<div id="table" class="table-editable">
					<span class="table-add glyphicon glyphicon-plus"></span>
					<table class="table">
						<tr>
							<th>Name</th>
							<th>Value</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr class="task">
							<td contenteditable="true">Stir Fry</td>
							<td contenteditable="true">stir-fry</td>
							<td>
								<span class="table-remove glyphicon glyphicon-remove"></span>
							</td>
							<td>
								<span class="table-up glyphicon glyphicon-arrow-up"></span>
								<span class="table-down glyphicon glyphicon-arrow-down"></span>
							</td>
							<td>
								<span style="color: red" class="mark_as_done glyphicon glyphicon-ok"></span>
							</td>						</tr>
						<!-- This is our clonable table line -->
						<tr class="hide task">
							<td contenteditable="true">Untitled</td>
							<td contenteditable="true">undefined</td>
							<td>
								<span class="table-remove glyphicon glyphicon-remove"></span>
							</td>
							<td>
								<span class="table-up glyphicon glyphicon-arrow-up"></span>
								<span class="table-down glyphicon glyphicon-arrow-down"></span>
							</td>
							<td>
								<span style="color: red" class="mark_as_done glyphicon glyphicon-ok"></span>
							</td>
						</tr>
					</table>
				</div>

				<button id="export-btn" class="btn btn-primary">Export Data</button>
				<p id="export"></p>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/introHCI.js"></script>
<script src="js/main.js"></script>
</body>
</html>
