body {
  font-family: 'Noto Sans', sans-serif;
  margin:0;
  width:100%;
  height:100vh;
}

header{ 
  position: relative;
  top:0;
  width:100%; 
  height:60px; 
  line-height:60px;
}

ol {
  text-align: center;
  display: inline;
  list-style-position: inside;
}

header .user{
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 5px;
}

.profile{
  width:100%;
  height:auto;
  padding:1%;
  text-align: center;
}

.profile h3{
  display: inline;
}

#finished_icon{
 margin-left:2%;
 height:40px;
 width:40px; 
}

.hamburger, .cross {
  position: absolute;
  left: 5px;
  padding:0.5em;
}

.hamburger{
  background:none;
  top:0;
  line-height:45px;
  color:#000;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.button-text {
  color: white;
}

.cross{
  background:none;
  top:0px;
  color:#000;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.center-text{
  text-align: center;
}

.homescreen{
  position: relative;
  left: -15px;
}

.homescreen h1{
  text-decoration: underline;
}

.new-task-form {
  display: block;
  margin: 0 auto;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:30%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

#new {
  padding-top: 50px;
}

#new img{
  display: block;
  margin: 0 auto;
}

#new p{
  font-weight: bold;
}

/* CSS FOR TOGGLE BUTTON ************************************/ 
/* The switch - the box around the slider */
.switch {
  position: relative; 
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* NOTFICIATION ICON & COUNTER *********************/ 
.icon {
    width:30px; 
    height:30px;
    position: relative;
}
.txt{
    background:red; 
    font-size:xx-small;
    position: absolute;
    top: 5px;
    left: 5px;
}
.task_completed_row {
  margin: 5px;
}

/*Editable Table*/
@import "compass/css3";

.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
}

/*Progress Bar*/
/*A LOT OF THESE CAN BE DELETED, BUT IDK WHICH ONES*/
/*https://codepen.io/jo-asakura/pen/stFHi*/
@import url(http://fonts.googleapis.com/css?family=Lato:700);

.size(@w, @h) {
  height: @h;
  width: @w;
}

// --
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f1;
  color: #444;
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 10px;
}

.set-size {
  font-size: 10em;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

@bg: #34495e;
@size: 1em;

.pie-wrapper {
  .size(@size, @size);
  float: left;
  margin: 15px;
  position: relative;
  
  &:nth-child(3n+1) {
    clear: both;
  }

  .pie {
    .size(100%, 100%);
    clip: rect(0, @size, @size, @size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      .size(100%, 100%);
      border: @size / 10 solid #3498db;
      border-radius: 50%;
      clip: rect(0, @size / 2, @size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    @font-size: @size / 4;
    @font-size-redo: @size * 4;

    background: @bg;
    border-radius: 50%;
    bottom: @font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: @font-size;
    left: @font-size-redo / 10;
    line-height: @font-size-redo * .65;
    position: absolute;
    right: @font-size-redo / 10;
    text-align: center;
    top: @font-size-redo / 10;

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    .size(100%, 100%);
    border: @size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  &.progress-30 {
    .draw-progress(30, #3498db);
  }

  &.progress-60 {
    .draw-progress(60, #9b59b6);
  }

  &.progress-90 {
    .draw-progress(90, #e67e22);
  }

  &.progress-45 {
    .draw-progress(45, #1abc9c);
  }

  &.progress-75 {
    .draw-progress(75, #8e44ad);
  }

  &.progress-95 {
    .draw-progress(95, #e74c3c);
  }
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;

  &:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
  }
  
  .label {
    background: transparent;
  }
  
  &.progress-65 {
    .draw-progress--solid(65, #e67e22, @bg);
  }
  
  &.progress-25 {
    .draw-progress--solid(25, #9b59b6, @bg);
  }
  
  &.progress-88 {
    .draw-progress--solid(88, #3498db, @bg);
  }
}

// --
.draw-progress(@progress, @color) when (@progress <= 50) {
  .pie {
    .right-side {
      display: none;
    }
  }
}

.draw-progress(@progress, @color) when (@progress > 50) {
  .pie {
    clip: rect(auto, auto, auto, auto);

    .right-side {
      transform: rotate(180deg);
    }
  }
}

.draw-progress(@progress, @color) {
  .pie {
    .half-circle {
      border-color: @color;
    }

    .left-side {
      @rotate: @progress * 3.6;
      transform: rotate(~'@{rotate}deg');
    }
  }
}

.draw-progress--solid(@progress, @color, @bg) when (@progress <= 50) {
  &:before {
    background: @bg;
    transform: rotate((100 - (50 - @progress)) / 100 * 360deg * -1);
  }
}

.draw-progress--solid(@progress, @color, @bg) when (@progress > 50) {
  &:before {
    background: @color;
    transform: rotate((100 - @progress) / 100 * 360deg);
  }
}

.draw-progress--solid(@progress, @color, @bg) {
  background: linear-gradient(to right, @color 50%, @bg 50%);
}
