body {
  font-family: 'Noto Sans', sans-serif;
  margin:0;
  width:100%;
  height:100vh;
}

header{ 
  position: relative; 
  top:0;
  width:100%; 
  height:60px; 
  line-height:60px;
}

h1, h2, h3, #new{
  text-align: center;
  display: inline;
}

.micro ol {
  display: inline;
  list-style-position:inside;
}

header .user{
  position: absolute;
  top: 0px;
  right: 0px;
}

.hamburger, .cross {
  position: absolute;
  left: 5px;
  padding:0.5em;
}

.hamburger{
  background:none;
  top:0;
  line-height:45px;
  color:#000;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  top:0px;
  color:#000;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}



.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:30%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
